/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background:#fff;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
    line-height:1.125em;
    color:#1c2328;
}


a {
    font-weight:bold;
    text-decoration:none;
    color:#666666;
}

a:hover {
    text-decoration:none;
    color:#3333FF;
}
a:active {
    font-weight:bold;
    color:#3333FF;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}



#main {
    margin:0 auto;
    text-align:center;
}

img {
    border:0;
    text-align:left;
}





#tit_page {
    font-size:20px;
    padding:20px 0 20px 20px;
    margin-top:30px;
    color:#535076;
}

#conteudo {
    font-size:12px;
    margin-top:5px;
    margin-bottom:10px;
    padding:15px 10px 5px 10px;
}

#rodape {
    font-size:11px;
    text-align:center;
    padding:20px 0 20px 20px;
    margin-top:20px;
    margin-bottom:30px;
    color:#7F96B1;
}

#tit_page, #conteudo, #rodape {
    margin-left:200px;
    width:900px;
    background-color:#f2f2f2 ;
}

.clearfix {
    overflow:auto;
    zoom:1;
}

.linha {
    background-color:#FFFFFF;
    padding:10px 10px 10px 10px;
    margin-bottom:10px;
    border-style:solid;
    border-width:2px;
    border-color:#cecece;
    box-shadow:0px 0px 10px #cecece;
}

#tumb {
    margin-right:10px;
    margin-bottom:10px;
    box-shadow:0px 0px 10px #cecece;
    width: 200px;
}

a.tumb {
    border-style:solid;
    border-width:2px;
    border-color:#cecece;
}

.image {
    vertical-align:top;
    width:230px;
}

.h3 {
    font-size:18px;
    font-weight:bold;
}

.texto {
    font-weight:normal;
    float:right;
    text-align:left;
    width:655px;
    color:#666666;
}

.texto_int {
    font-weight:normal;
    float:right;
    text-align:left;
    width:655px;
    color:#666666;
}

.texto_int {
    vertical-align:text-top
    font-weight:normal;
    float:right;
    text-align:left;
    width:550px;
    color:#666666;
}

.autor {
    float:right;
    text-align:left;
    margin-bottom: 10px;
    padding-right:5px;
    vertical-align:middle;
    width:550px;
    color:#6F6F6F;
}

.autor img {
    vertical-align:middle;
    border-radius:50px;
    width:20em;
    margin-right:5px;
}

.contador {
    margin-left:200px;
    margin-right:0px;
    margin-bottom:20px;
    width:920px;
    text-align:right;
    font-size:13px;
    color:#999999;
}

.traco {
    width:920px;
    background-color:#7F96B1;
    display:block;
    height:2px;
    margin:0px 0px 0px 200px
}

.linha_divisoria {
    border-top:1px solid #CCCCCC;
    font-size:1px;
    color:white;
    margin-bottom:10px;
}

.paginacao,.direcionais {
    margin-left:200px;
    width:920px;
    margin-top:10px;
    vertical-align:bottom;
    padding-top:5px;
    color:#3366CC;
    font-weight:bold;
}

.paginacao {
    text-align:center;
}

.paginacao img {
    vertical-align:middle;
}