<html>
<head>
  <title>SisRede</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="tit_page">Shot`s Links</div>

<%= yield %>

<div id="rodape">
  <a href="https://www.linkedin.com/profile/view?id=88695117&trk=tab_pro" target="_blank" title="CV no LinkedIn.">Marcio D`Alessandro Cunha / (21) 98662-2088</a>
</div>

</body>
</html>
